.search-box {
    display: flex;
    justify-content: center;
    margin-top: 2vw;
    margin-bottom: 2vw;
}

.search-box input {
    width: 28vw;
    height: 2.5vw;
    font-size: 1.1vw;
    padding: 0.6vw;
    padding-left: 0.8vw;
    border-radius: 0.5vw;
    border: 0.1vw solid gray;
}

.search-box button {
    width: 6vw;
    height: 2.5vw;
    font-size: 1.3vw;
    border-radius: 0.5vw;
    vertical-align: top;
    margin-left: 1vw;
    border: none;
    color: white;
    background-color: purple;
    cursor: pointer;
}

.movies-container {
    display: flex;
    justify-content: space-between;
}